.brand-description {
    font-size: 0.9em; 
    color: #6c757d; 
    margin-top: -5px; 
}

.navbar-nav {
    display: flex; 
    justify-content: flex-end; 
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.card-img-top {
    width: 100%; 
    height: 280px; 
    object-fit: cover; 
}

.restaurant-R {
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

#welcome-message {
    transition: color 0.3s ease, box-shadow 0.3s ease;
}

#welcome-message:hover {
    color: white; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    background-color: #9A9A3D; 
}

.custom-button {
    background-color: #4A5A2F;
    color: white; 
    border: none; 
    transition: box-shadow 0.3s ease, background-color 0.3s ease; 
}

.custom-button:focus, 
.custom-button:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    background-color: #3A4A2F; 
}

.about-heading {
    font-size: 2em;  
    color: olive;    
    border: 1px solid #B2B2B2; 
    padding: 10px;    
    border-radius: 5px; 
    background-color: #f9f9f9; 
}

#contact {
    margin-top: -1rem;
    margin-bottom: -4rem; 
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
